


/* 滚动条 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, 0.2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #49b1f5;
  }



/* 评论框  */

.vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
}


/* 提交按钮 */

#vcomment button {
    padding: 0.3rem 0.8rem;
    border-color: #fff;
    background-color: #e58a8a;
    color: #fff;
    font-size: 0.7rem;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}


/* 评论区代码块 */

.v[data-class=v] code {
    color: #c7254e;
    background-color: #f9f2f4f1;
}
/* 设置评论框 */

.vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
}


/* 取消回复聊天框 */

.vquote .vcard {
    box-shadow: 2px 2px 5px transparent;
    background: rgba(255, 255, 255, 0.0);
    padding: 0px;
}

/*手机端毛玻璃优化*/
#sidebar #sidebar-menus.open {
  border: 4px solid rgba(56, 211, 203);
  font-weight: bold;
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
}
#sidebar #menu-mask {
  background: rgba(255,255,255,0);
}

[data-theme="dark"]
#sidebar #sidebar-menus.open {
  border: 3px solid rgba(56, 211, 203, 0.8);
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}

/*首页分类栏*/
#category-bar {
  border: 4px solid rgba(0, 229, 245, 0.9);
  background: rgba(255,255,255,0.7)!important;
  backdrop-filter: blur(10px);
}
[data-theme="dark"]
#category-bar {
  border: 3px solid rgba(56, 211, 203, 0.8);
  background: rgba(0, 0, 0, 0.6)!important;
  backdrop-filter: blur(10px);
}


/*搜索框美化*/
.search-dialog {
  border: 4.5px solid rgba(0, 229, 245, 0.9);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
  border-radius: 18px;
}
#search-mask {
  background: rgba(0, 0, 0, 0.4);
}
[data-theme="dark"]
.search-dialog {
  border: 3px solid rgba(56, 211, 203, 0.8);
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(10px);
  border-radius: 18px;
}
[data-theme="dark"]
#search-mask {
  background: rgba(0, 0, 0, 0.4);
}

/* 首页文章卡片 */
#recent-posts > .recent-post-item{
  border: 4px solid rgba(0, 229, 245, 0.9);
  font-size: 14.1px;
  font-weight: bold;
  background:rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
/* 首页侧栏卡片 */
.card-widget{
  border: 4.7px solid rgba(56, 211, 203);
  font-weight: bold;
  background:rgba(255, 255, 255, 0.7)!important;
  backdrop-filter: blur(5px);
}
/* 文章页面正文背景 */
div#post{
  border: 4.5px solid rgba(0, 229, 245, 0.9);
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
/* 分页页面 */
div#page{
  border: 4.5px solid rgba(0, 229, 245, 0.9);
  font-size: 16px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
/* 归档页面 */
div#archive{
  border: 4.5px solid rgba(0, 229, 245, 0.9);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
/* 标签页面 */
div#tag{
  border: 4.5px solid rgba(0, 229, 245, 0.9);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}
/* 分类页面 */
div#category{
  border: 4.5px solid rgba(0, 229, 245, 0.9);
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

[data-theme="dark"]
#aside-content .card-widget{
  border: 3px solid rgba(56, 211, 203, 0.8);
    background: rgba(0, 0, 0, 0.6)!important;
    backdrop-filter: blur(10px);
  }
[data-theme="dark"]
div#post{
  border: 3px solid rgba(56, 211, 203, 0.8);
  background: rgba(0, 0, 0, 0.6)!important;
  backdrop-filter: blur(10px);
  }
[data-theme="dark"]
#recent-posts > .recent-post-item{
  border: 3px solid rgba(56, 211, 203, 0.8);
    background:rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}
/* 分页页面 */
[data-theme="dark"]
div#page{
  border: 3px solid rgba(56, 211, 203, 0.8);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
  }
[data-theme="dark"]
div#archive{
  border: 3px solid rgba(56, 211, 203, 0.8);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
  }
[data-theme="dark"]
  #page-header.nav-fixed #nav {
    background: rgba(0, 0, 0, 0.6)!important;
    backdrop-filter: blur(10px);
  }
[data-theme="dark"]
div#category{
  border: 3px solid rgba(56, 211, 203, 0.8);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}
[data-theme="dark"]
div#tag{
  border: 3px solid rgba(56, 211, 203, 0.8);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}
[data-theme="dark"]
div#archive{
  border: 3px solid rgba(56, 211, 203, 0.8);
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}
[data-theme="dark"]
#utterances-light {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.card-background {
    background-color: unset!important;
    box-shadow: unset!important;
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }

/* 导航栏置顶透明覆盖 */
#page-header.not-top-img #nav {
  font-size: 18.4px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0);
  -webkit-box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.089);
  box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.082)
}
/* 导航栏 */
#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.2)!important;
  backdrop-filter: blur(1.2px);
}
[data-theme="dark"]
#page-header.not-top-img #nav {
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.089);
  box-shadow: 0 5px 6px -5px rgba(133, 133, 133, 0.082)
}
[data-theme="dark"]
#page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.2)!important;
  backdrop-filter: blur(1.2px);
}


/* 文章标题居中 */
#page h1.page-title,#post>#post-info {
  text-align: center
}

/* 修改图片圆角 */
img[src*="#img-radius"] {
  border-radius: 11px;
}
/* 侧边栏圆角 */
#aside-content .card-widget {
border-radius: 25px;
}
/* 文章页圆角 */
.layout>div:first-child:not(.recent-posts) {
border-radius: 25px;
}
/* 双栏卡片圆角 */
#recent-posts>.recent-post-item {
border-radius: 25px;
}
/* github按钮圆角 */
#card-info-btn{
border-radius: 25px;
overflow: hidden}
#card-info-btn:before{
border-radius: 25px
}
/* 右侧小按钮圆角 */
#rightside>div>button,#to_comment {
margin-right: 4px;
border-radius: 5px;
}
/* 翻页圆角 */
#pagination a.extend,
#pagination .page-number,
#pagination span {
color: var(--font-color);
background-color: var(--card-bg);
border-radius: 8px;
height: 1.6rem;
text-align: center;
line-height: 1.6rem;
display: inline-block;
min-width: 1.6rem;
}
/* 目录圆角 */
#aside-content #card-toc .toc-content .toc-link.active {
  border-radius: 8px;
}


/* 横向排布子菜单 */
#nav .menus_items .menus_item .menus_item_child li {
  display: inline-block;
}
/* 圆角隐藏 */
ul.menus_item_child {
  overflow: hidden;
  border-radius: 5px;
}
/* 调整空隙，确保不会天下武功唯快不破 */
#nav .menus_items .menus_item .menus_item_child {
  margin-top: 0px !important;
  background: rgba(255, 255, 255, 0.5)
}

/*字体*/
/* @font-face{
  font-family:'aqqxs' ;
  src:url('/fonts/123.ttf');
  font-display : swap;
} */
/* 
a.article-title {
  font-family: 'aqqxs', sans-serif;
}
.content {
  font-family: 'aqqxs', sans-serif;
}
.article-meta-wrap {
  font-family: 'aqqxs', sans-serif;
}
div#bbtalk {
  font-family: 'aqqxs', sans-serif;
}
a#site-name {
  font-family: 'aqqxs', sans-serif;
}
.card-info-avatar.is-center {
  font-family: 'aqqxs', sans-serif;
}
p {
  font-family: 'aqqxs', sans-serif;
}
.card-widget.card-tags {
  font-family: 'aqqxs', sans-serif;
}
.card-widget.card-webinfo {
  font-family: 'aqqxs', sans-serif;
}
element.style {
  font-family: 'aqqxs', sans-serif;
}
.aplayer-music {
  font-family: 'aqqxs', sans-serif;
}
div#hopelight_plus_menu {
  font-family: 'aqqxs', sans-serif;
}
div#menus {
  font-family: 'aqqxs', sans-serif;
}
div#local-search-title {
  font-family: 'aqqxs', sans-serif;
}
input.local-search-box--input {
  font-family: 'aqqxs', sans-serif;
}
div#post-info {
  font-family: 'aqqxs', sans-serif;
}
.post-copyright {
  font-family: 'aqqxs', sans-serif;
}
.sticky_layout {
  font-family: 'aqqxs', sans-serif;
}
.search-dialog {
  font-family: 'aqqxs', sans-serif;
}
main#content-inner {
  font-family: 'aqqxs', sans-serif;
}
p {
  font-family: 'aqqxs', sans-serif !important;
} */
/* #footer-wrap {
  font-family: 'aqqxs', sans-serif;    手机侧边栏
}
#sidebar #sidebar-menus.open {
  font-family: 'aqqxs', sans-serif;    页脚 
}
#search-button{
  font-family: 'aqqxs', sans-serif; 搜索
}
#article-container code,#article-container pre {
  font-family: 'aqqxs', sans-serif !important; code标签以及代码块
} */
/* #rightMenu{
  font-family: 'aqqxs', sans-serif !important;
} */

/* rightMenu */
[data-theme="dark"]
#rightMenu{
  background-color: rgba(0, 0, 0, 0.8);
}
.rightMenu-group.hide{
	display: none;
}
/* rightMenu右键菜单 */
#rightMenu{
  font-weight: bold;
	display: none;
	position: fixed;
  padding: 0 0.25rem;
	width: 9rem;
	height: fit-content;
	top: 10%;
	left: 10%;
	background-color: rgba(255, 255, 255, 0.75);
  color: var(--heo-fontcolor);
	border-radius: 12px;
	z-index: 102;
  border: var(--style-border);
  transition: 0.3s;
  backdrop-filter: blur(2px);
}
#rightMenu:hover{
  border: var(--style-border-hover);
  box-shadow: var(--heo-shadow-theme);
}
#rightMenu .rightMenu-group{
	padding: 0.35rem 0.3rem;
}
#rightMenu .rightMenu-group:not(:nth-last-child(1)){
	border-bottom: 1px dashed var(--heo-theme-op);
}
#rightMenu .rightMenu-group.rightMenu-small{
	display: flex;
	justify-content: space-between;
}
#rightMenu .rightMenu-group .rightMenu-item{
	border-radius: 8px;
	transition: 0.3s;
  cursor: pointer;
}

#rightMenu .rightMenu-line .rightMenu-item{
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}
#rightMenu .rightMenu-group.rightMenu-line .rightMenu-item{
	display: flex;
}
#rightMenu .rightMenu-group .rightMenu-item:hover{
	background-color: var(--heo-theme);
  color: var(--heo-white);
  box-shadow: var(--heo-shadow-theme);
}
#rightMenu .rightMenu-group .rightMenu-item i{
	display: inline-block;
	text-align: center;
	line-height: 1.5rem;
	width: 1.5rem;
	padding: 0 0.25rem;
}
#rightMenu .rightMenu-line .rightMenu-item i{
  margin: 0 0.25rem;
}
#rightMenu .rightMenu-group .rightMenu-item span{
	line-height: 1.5rem;
}
#rightmenu-mask{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--heo-maskbg);
  top: 0;
  left: 0;
  display: none;
  z-index: 101;
  margin: 0!important;
}
