.layout.hide-aside {
  max-width:1200px;
  }
.layout { display: flex; margin: 0px auto; padding: 1.35rem 2.5px; max-width: 1200px; }  
  .avatar-img img:hover {
  -webkit-transform:unset;
  -moz-transform:unset;
  -o-transform:unset;
  -ms-transform:unset;
  transform:unset;
  }
  #article-container p{
    line-height: 1.7!important;
    font-weight: 500!important;
    text-align: left!important;
    letter-spacing: .6px!important;
  }
  .avatar-img {
  border-radius:23px;
  box-shadow:2.2px 2.2px 2.2px rgba(10,207,233,0.55);
  }
  
  #aside-content .card-info .author-info__name {
  font-weight:500;
  font-size:1.9em;
  }
  
  #aside-content .card-info .card-info-social-icons {
  margin:2px 0 -15px;
  }
  
  #aside-content .card-info {
  padding:0 0 20px;
  }
  
  #aside-content .item-headline span {
  margin-left:8px;
  font-size:large;
  }
  
  #aside-content .card-info>div:first-child {
  padding-top:23px;
  background:url(/img/3.webp);
  background-position:top;
  background-size:120%;
  background-repeat:no-repeat;
  border-radius:0;
  }
  
  #aside-content .card-info .card-info-data {
  padding:0 24px;
  }
  
  #aside-content .card-info #card-info-btn {
  margin-top:11px;
  margin-left:20px;
  margin-right:20px;
  border-radius:15px;
  }
  
  .cardHover,.error404 #error-wrap .error-content,.layout > div:first-child:not(.recent-posts),#recent-posts .recent-post-item,#aside-content .card-widget,.layout > .recent-posts .pagination > :not(.space),.append-item {
  border:2.2px solid #0FF;
  transition:.3s;
  }
  
  .cardHover:hover,.error404 #error-wrap .error-content:hover,.layout > div:first-child:not(.recent-posts):hover,#recent-posts .recent-post-item:hover,#aside-content .card-widget:hover,.layout > .recent-posts .pagination > :not(.space):hover,.append-item:hover {
  border:2.2px solid #9c9;
  }
  
  .recent-posts .recent-post-item .recent-post-info .article-title .article-title-link {
  font-size:103%;
  }
  
  #post-info .post-title {
  font-size:2.2em;
  font-weight: 600;
  }
  
  a#site-name {
  font-size:19.5px;
  }
  
  #aside-content #card-toc .toc-percentage {
  margin-top:-22px;
  font-size:185%;
  }
  
  ::-webkit-scrollbar {
  width:5px;
  height:8px;
  }
  
  ::-webkit-scrollbar-track {
  background-color:rgba(73,177,245,0.2);
  border-radius:2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent
    );
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
  background-color:transparent;
  }
  
  ::-moz-selection {
  color:#fff;
  background-color:#49b1f5;
  }
  
  #aside-content .card-tag-cloud a:hover {
  color:#eee!important;
  border-radius:10px;
  background:var(--btn-bg);
  margin:0 auto;
  }
  
  .vwrap {
  box-shadow:2px 2px 5px #bbb;
  background:rgba(255,255,255,0.3);
  border-radius:8px;
  margin:30px 0;
  padding:30px;
  }
  
  #vcomment button {
  background-color:#e58a8a;
  color:#fff;
  font-size:.7rem;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  -o-transition:all .3s;
  -ms-transition:all .3s;
  transition:all .3s;
  border-color:#fff;
  padding:.3rem .8rem;
  }
  
  .v[data-class=v] code {
  color:#c7254e;
  background-color:#f9f2f4f1;
  }
  
  .vcard {
  box-shadow:2px 2px 5px #bbb;
  background:rgba(255,255,255,0.3);
  border-radius:8px;
  margin:30px 0 0;
  padding:30px;
  }
  
  .vquote .vcard {
  box-shadow:2px 2px 5px transparent;
  background:rgba(255,255,255,0.0);
  padding:0;
  }
  
  .search-dialog {
  border:2.2px solid #0FF!important;
  font-weight:700;
  background:rgba(255,255,255,0.85)!important;
  border-radius:18px!important;
  }
  
  [data-theme=dark]
  .search-dialog {
  border:2.2px solid rgba(56,211,203,0.8)!important;
  background:rgba(0,0,0,0.8)!important;
  border-radius:18px;
  }
  #local-search .search-dialog .search-result-list{
    overflow-y: auto;
    max-height: calc(80vh - 130px);
  }
  
  #pagination a.extend,#pagination .page-number,#pagination span {
  border:2.2px solid #0FF;
  color:var(--font-color);
  background-color:var(--card-bg);
  border-radius:8px;
  height:1.6rem;
  text-align:center;
  line-height:1.6rem;
  display:inline-block;
  min-width:1.6rem;
  }
  
  [data-theme=dark]
  #pagination a.extend,#pagination .page-number,#pagination span {
  border:2.2px solid rgba(56,211,203,0.8);
  }
  
  #recent-posts > .recent-post-item {
  border:2.2px solid #0FF;
  font-size:14.5px;
  font-weight:700;
  background:rgba(255,255,255,0.67);
  }
  
  .card-widget {
  border:2.2px solid #0FF;
  font-weight:700;
  background:rgba(255,255,255,0.67)!important;
  }
  
  div#post {
  border:2.2px solid #0FF;
  font-size:14.5px;
  background:rgba(255,255,255,0.67);
  }
  
  div#page {
  border:2.2px solid #0FF;
  font-size:15.5px;
  font-weight:700;
  background:rgba(255,255,255,0.67);
  }

  [data-theme=dark]
  #aside-content .card-widget {
  border:2.2px solid rgba(56,211,203,0.8)!important;
  background:rgba(0,0,0,0.6)!important;
  }
  
  [data-theme=dark]
  div#post {
  border:2.2px solid rgba(56,211,203,0.8);
  background:rgba(0,0,0,0.6)!important;
  }
  
  .card-background {
  background-color:unset!important;
  box-shadow:unset!important;
  }
  
  #page-header.not-top-img #nav {
  font-size:18.3px;
  font-weight:700;
  background:rgba(255,255,255,0);
  -webkit-box-shadow:0 5px 6px -5px rgba(133,133,133,0.089);
  box-shadow:0 5px 6px -5px rgba(133,133,133,0.082);
  }
  
  #page-header.nav-fixed #nav {
  background:rgba(255,255,255,0.2)!important;
  }
  
  [data-theme=dark]
  #page-header.not-top-img #nav {
  background:rgba(0,0,0,0);
  -webkit-box-shadow:0 5px 6px -5px rgba(133,133,133,0.089);
  box-shadow:0 5px 6px -5px rgba(133,133,133,0.082);
  }
  
  [data-theme=dark]
  #page-header.nav-fixed #nav {
  background:rgba(0,0,0,0.3)!important;
  }
  
  #page h1.page-title,#post>#post-info {
  text-align:center;
  }

  h1, h2, h3, h4, h5, h6{
    margin: 10px 0 1px!important;
  }
  
  img[src*="#img-radius"] {
    border-radius: 11px;
  }
  
  .layout>div:first-child:not(.recent-posts) {
  border-radius:21px;
  padding:10px 35px;
  }
  
  #card-info-btn {
  border-radius:25px;
  overflow:hidden;
  }
  
  #card-info-btn:before {
  border-radius:25px;
  }
  
  #aside-content #card-toc .toc-content .toc-link{
    transition: all .1s ease-in-out!important;
  }
  #aside-content #card-toc .toc-content .toc-link.active {
  border-radius:8px;
  }
  
  #nav .menus_items .menus_item .menus_item_child li {
  display:inline-block;
  }
  
  ul.menus_item_child {
  overflow:hidden;
  border-radius:5px;
  }
  
  #nav .menus_items .menus_item .menus_item_child {
  margin-top:0!important;
  background:rgba(255,255,255,0.6);
  }
  
  [data-theme=dark]
  #rightMenu {
  background-color:rgba(0,0,0,0.8);
  }
  
  #rightMenu {
  font-weight:700;
  display:none;
  position:fixed;
  width:9rem;
  height:fit-content;
  top:10%;
  left:10%;
  background-color:rgba(255,255,255,0.85);
  color:var(--heo-fontcolor);
  border-radius:12px;
  z-index:102;
  border:var(--style-border);
  transition:.3s;
  padding:0 .25rem;
  }
  
  #rightMenu:hover {
  border:var(--style-border-hover);
  box-shadow:var(--heo-shadow-theme);
  }
  
  #rightMenu .rightMenu-group {
  padding:.35rem .3rem;
  }
  
  #rightMenu .rightMenu-group:not(:nth-last-child(1)) {
  border-bottom:1px dashed var(--heo-theme-op);
  }
  
  #rightMenu .rightMenu-group.rightMenu-small {
  display:flex;
  justify-content:space-between;
  }
  
  #rightMenu .rightMenu-group .rightMenu-item {
  border-radius:8px;
  transition:.3s;
  cursor:pointer;
  }
  
  #rightMenu .rightMenu-line .rightMenu-item {
  margin:.25rem 0;
  padding:.25rem 0;
  }
  
  #rightMenu .rightMenu-group.rightMenu-line .rightMenu-item {
  display:flex;
  }
  
  #rightMenu .rightMenu-group .rightMenu-item:hover {
  background-color:var(--heo-theme);
  color:var(--heo-white);
  box-shadow:var(--heo-shadow-theme);
  }
  
  #rightMenu .rightMenu-group .rightMenu-item i {
  display:inline-block;
  text-align:center;
  line-height:1.5rem;
  width:1.5rem;
  padding:0 .25rem;
  }
  
  #rightMenu .rightMenu-line .rightMenu-item i {
  margin:0 .25rem;
  }
  
  #rightMenu .rightMenu-group .rightMenu-item span {
  line-height:1.5rem;
  }
  
  #rightmenu-mask {
  position:fixed;
  width:100vw;
  height:100vh;
  background:var(--heo-maskbg);
  top:0;
  left:0;
  display:none;
  z-index:101;
  margin:0!important;
  }
  
  [data-theme=dark]
  .vcard {
  background:rgba(0,0,0,0.1);
  }
  .post-reward{
    margin-top: 0.1rem!important;
  }
  a {
  color:#363636;
  }
  
  [data-theme=dark]
  a {
  color:#f7f7fA;
  }
  #sidebar #sidebar-menus {
  background:linear-gradient(60deg,#ffd7e4 0%,#c8f1ff 93%);
  }
  
  [data-theme=dark]
  #sidebar #sidebar-menus {
  background:linear-gradient(60deg,#2c0c16 0%,#043749 100%);
  }
  
  #sidebar #sidebar-menus #card-info-btn {
  border-radius:.825rem;
  margin:.3em 2rem 0;
  }
  
  #sidebar #sidebar-menus .menu-info-social-icons {
  margin:0;
  }
  
  #sidebar #sidebar-menus hr {
  margin:8px auto;
  }
  
  #sidebar #sidebar-menus #sidebar-avatar {
  margin-top:0;
  padding-top:6px;
  background:url(/img/3.webp);
  background-position:top;
  background-size:120%;
  background-repeat:no-repeat;
  }
  
  .snackbar-pos {
  border:2.2px solid #0FF;
  }
  
  #aside-content .card-info .author-info__description {
  margin-top:-.2em;
  }
  
  #sidebar #sidebar-menus .menus_items .site-page {
  background:rgba(0,0,0,0);
  }
  
  [data-theme=light]
  .snackbar-container .action {
  color:#0fa!important;
  }
  
  .card-widget #artitalk_main #shuoshuo_content {
  overflow:auto;
  max-height:330px;
  }
  
  .card-widget #artitalk_main #shuoshuo_content::-webkit-scrollbar {
  width:0!important;
  }
  
  #universe {
  display:block;
  position:fixed;
  border:0;
  outline:0;
  left:0;
  top:0;
  width:100%;
  height:100%;
  pointer-events:none;
  z-index:-1;
  margin:0;
  padding:0;
  }
  
  #aside-content .card-archives ul.card-archive-list {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  flex-wrap:wrap;
  }
  
  li.card-archive-list-item {
  width:100%;
  flex:0 0 48%;
  }
  
  span.card-archive-list-count {
  width:auto;
  text-align:left;
  font-size:1.2rem;
  line-height:.9;
  font-weight:700;
  }
  
  span.card-archive-list-count-unit {
  width:auto;
  text-align:left;
  font-size:14px;
  font-weight:700;
  }
  
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a {
  border-radius:8px;
  display:flex;
  flex-direction:column;
  align-content:space-between;
  border:1px solid #e3e8f7;
  margin:4px 0;
  }
  
  #aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover {
  background-color:var(--btn-bg);
  color:#fff;
  }
  
  [data-theme=dark]
  .site-card .info .title {
  color:rgba(255,255,255,0.9);
  }
  
  [data-theme=dark]
  .card-widget.card-friend-link .card-friend-name {
  color:rgba(255,255,255,0.808);
  }
  
  .back-home-button {
  display:flex;
  width:35px;
  height:35px;
  align-items:center;
  justify-content:center;
  margin-right:.5rem;
  transition:.2s;
  border-radius:8px;
  color:var(--heo-white);
  padding:0!important;
  }
  
  .back-home-button:hover {
  background:var(--heo-main);
  color:var(--heo-white)!important;
  }
  
  .back-home-button .back-menu-list::before {
  position:absolute;
  top:-15px;
  left:0;
  width:100%;
  height:20px;
  content:'';
  }
  
  .back-home-button .back-menu-list .back-menu-item {
  display:flex;
  align-items:center;
  transition:.2s;
  border-radius:8px;
  margin:4px 8px;
  padding:4px 8px!important;
  }
  
  .back-home-button .back-menu-list .back-menu-item:hover {
  background:var(--heo-main)!important;
  transform:scale(1)!important;
  }
  
  .back-home-button .back-menu-list .back-menu-item .back-menu-item-icon {
  width:24px;
  height:24px;
  border-radius:24px;
  background:var(--heo-secondbg);
  }
  
  .back-home-button .back-menu-list .back-menu-item .back-menu-item-text {
  font-size:var(--global-font-size);
  margin-left:.5rem;
  color:var(--heo-fontcolor);
  }
  
  .back-home-button .back-menu-list .back-menu-item:hover .back-menu-item-text {
  color:var(--heo-white);
  }
  
  .back-home-button .back-menu-list-groups {
  position:absolute;
  top:65px;
  left:10px;
  background:var(--heo-card-bg);
  border-radius:12px;
  border:var(--style-border);
  flex-direction:column;
  font-size:12px;
  color:var(--heo-secondtext);
  box-shadow:var(--heo-shadow-border);
  transition:0;
  opacity:0;
  pointer-events:none;
  }
  
  .back-home-button .back-menu-list-groups:hover {
  border:var(--style-border-hover);
  }
  
  .back-home-button .back-menu-list-group .back-menu-list-title {
  transition:.2s;
  margin:8px 0 0 16px;
  }
  
  .back-home-button .back-menu-list-group:hover .back-menu-list-title {
  color:#2e72c0;
  }
  
  .back-home-button:hover .back-menu-list-groups {
  display:flex;
  opacity:1;
  transition:.25s;
  top:55px;
  pointer-events:auto;
  }
  
  [data-theme=light]
  .back-home-button:hover .back-menu-list-groups {
  background:rgba(255,255,255,0.69);
  }
  
  #nav #site-name:after {
  background:url(/img/home.png) no-repeat 50% 50%;
  opacity:0;
  position:absolute;
  display:flex;
  z-index:1;
  width:75px;
  height:58px;
  content:"";
  transition:.25s;
  transition-timing-function:ease-in;
  transform:scale(.4);
  }
  
  #nav #site-name:hover {
  background:#1dbffff1;
  border-radius:8px;
  }
  
  #nav #site-name:hover:after {
  opacity:1;
  transform:translateY(0) scale(.3);
  transition-timing-function:ease-in;
  }
  
  #nav #site-name {
  transition:.3s;
  display:flex;
  height:35px;
  width:115px;
  justify-content:center;
  align-items:center;
  border-radius:8px;
  text-shadow:none;
  padding:0;
  }
  
  .footer-banner-right {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  }
  /* 
  #footer-banner {
  color:var(--heo-fontcolor);
  margin-top:1rem;
  background:var(--heo-card-bg);
  display:flex;
  overflow:hidden;
  z-index:1002;
  transition:.3s;
  border-top:1.3px solid #0FF;
  padding:1rem;
  }
  
  [data-theme=dark] #footer-banner {
  background:var(--heo-secondbg);
  }
  
  #footer-banner .footer-banner-links {
  display:flex;
  justify-content:space-between;
  max-width:1500px;
  width:100%;
  flex-wrap:wrap;
  margin:0 auto;
  }
  
  #footer-banner .footer-banner-left {
  display:flex;
  flex-wrap:wrap;
  min-height:32px;
  }
  
  #footer-banner .footer-banner-link {
  margin-right:1rem;
  color:var(--heo-fontcolor);
  font-size:.85rem;
  font-weight:700;
  white-space:nowrap;
  }
  
  #footer-banner .footer-banner-link:hover {
  color:var(--heo-theme);
  }
  
  #footer-banner>div>div.footer-banner-left>span {
  margin-right:1rem;
  }
  
  #footer-banner .footer-banner-right a:hover {
  color:var(--heo-lighttext);
  } */
  
  .recent-posts .recent-post-item .recent-post-cover img.article-cover,#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,#aside-content .card-categories ul.card-category-list > .card-category-list-item a {
  border-radius:10px;
  }
  
  div.img-alt.is-center,.rightMenu-group.hide,#page-header:before {
  display:none;
  }
  
  div.cf-article,div#cf-state {
  background:rgba(255,255,255,0.5);
  }
  
  [data-theme=dark]
  div.cf-article,[data-theme=dark]
  div#cf-state {
  background:#252627;
  }
  #sidebar #menu-mask,[data-theme=dark]
  #nav .menus_items .menus_item .menus_item_child {
  background:rgba(0,0,0,0.65);
  }
  
  #search-mask,[data-theme=dark]
  #search-mask {
  background:rgba(0,0,0,0.5);
  }
  
  div#archive,div#tag,div#category {
  border:2.2px solid #0FF;
  font-weight:700;
  background:rgba(255,255,255,0.67);
  }
  
  [data-theme=dark]
  #recent-posts > .recent-post-item,[data-theme=dark]
  div#page,[data-theme=dark]
  div#archive,[data-theme=dark]
  div#category,[data-theme=dark]
  div#tag {
  border:2.2px solid rgba(56,211,203,0.8);
  background:rgba(0,0,0,0.6);
  }
  
  #aside-content .card-widget,#recent-posts>.recent-post-item {
  border-radius:21px;
  }
  
  #rightside>div>a, #rightside>div>button{
    border-radius: 10px;
    border: 2px solid #0ff;
  }
  [data-theme="dark"]
  #rightside>div>a, #rightside>div>button{
    border: 2px solid rgba(56,211,203,.85);
  }
  #rightside>div>button{
    border-radius: 10px;
    border: 2px solid #0ff;
  }
  [data-theme="dark"]
  #rightside>div>button{
    border: 2px solid rgba(56,211,203,.85);
  }
  
  div.footer_custom_text,div.copyright {
    font-size:.9rem;
    font-weight:400;
    color:#fff;
  }
  
  .fa-angle-double-down:before {
  color:#FFF;
  }
  #timeDate,#times{
    color:#FFF;
    font-size:.9rem;
    font-weight:500;
  }
  
  .nav-fixed #nav .back-home-button,#page-header.not-top-img #nav .back-home-button {
  color:var(--heo-fontcolor);
  }
  
  .back-home-button .back-menu-list,.back-home-button .back-menu-list-group {
  display:flex;
  flex-direction:column;
  }
@media screen and (max-width:900px){
  .card-widget{
    background:rgba(255, 255, 255,0.87)!important;
  }
  [data-theme="light"]
  .back-home-button:hover .back-menu-list-groups {
    background: rgba(255, 255, 255,0.91);
  }
  [data-theme="dark"]
  #aside-content .card-widget{
    background:rgba(0, 0, 0,0.9)!important;
  }
  }
  @media screen and (max-width:600px){
    .recent-posts .recent-post-item{
      height: 368px;
    }
    .layout>div:first-child:not(.recent-posts){
      padding: 0.1px 11px;
    }
    }

#nprogress .bar {
	background:	linear-gradient(215deg,#45daff 0%,#ffb1bd 100%)!important;
}
[data-theme="dark"]
#nprogress .bar {
	background:linear-gradient(215deg,#4583ffc5 0%,#cf0db8c5 100%)!important;
}


.category-lists .category-list a {
	padding-left:18px
}
#page .category-lists ul {
	text-align:center
}
#page .category-lists ul li {
	margin:.3rem;
	background:#ffffff50;
	border-radius:8px;
	display:inline-block;
	padding-right:5px;
	padding-left:5px;
	margin-bottom:10px
}
[data-theme="dark"]
#page .category-lists ul li {
	background:#30343f;
}
#page .category-lists ul li:before {
	left:5px;
	border:3px solid #425AEF
}
#page .category-lists ul li:hover:before,.article-sort-item:hover:before {
	border:3px solid #ef794f
}
#page .category-lists ul li:hover {
	background:#0084FF
}
#page .category-lists ul li a:hover,#page .category-lists ul li:hover .category-list-count,#page .category-lists ul li:hover a {
	color:#fff
}

.article-sort-item::before{
  display: none;
}


.pagination-post{overflow:hidden;margin-top:2rem;width:100%;border-radius:10px;border:1px solid var(--ah-hover-bg)}

.article-sort {
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:box;
	display:flex;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	-o-box-orient:horizontal;
	-webkit-flex-direction:row;
	-ms-flex-direction:row;
	flex-direction:row;
	-webkit-box-lines:multiple;
	-moz-box-lines:multiple;
	-o-box-lines:multiple;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-box-pack:justify;
	-moz-box-pack:justify;
	-o-box-pack:justify;
	-ms-flex-pack:justify;
	-webkit-justify-content:space-between;
	justify-content:space-between
}
.article-sort-title {
  padding-bottom: 0px!important;
	position:relative;
	font-size:2em;
	color:var(--text-highlight-color);
	font-weight:700
}
.article-sort-item {
	position:relative;
	display:-webkit-box;
	display:-moz-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:box;
	display:flex;
	-webkit-box-align:center;
	-moz-box-align:center;
	-o-box-align:center;
	-ms-flex-align:center;
	-webkit-align-items:center;
	align-items:center;
	margin:7.5px 0;
	border-radius:12px;
	padding:8px;
	width:calc(50% - 7.5px);
	background:var(--ah-card-bg);
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	-ms-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}
@media screen and (max-width:768px) {
	.article-sort-item {
	width:100%
}
.category-bar-item a{
  padding: 0.1rem 0.2rem;
}

}.article-sort-item.no-article-cover {
	height:80px;
	padding-left:80px
}
.article-sort-item.year {
	font-size:1.8em;
	font-weight:700;
	margin-bottom:0px;
	background:0 0;
	width:100%;
	padding:0
}
.article-sort-item.year:hover {
	background:0 0
}
.article-sort-item-title {
	color:var(--font-color);
	font-size:17px;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-o-transition:all .3s;
	-ms-transition:all .3s;
	transition:all .3s;
	-webkit-line-clamp:2;
	font-weight:700;
	line-height:1.4em
}
.article-sort-item-title:hover {
	color:var(--btn-hover-color)
}
.article-sort-item-img {
	overflow:hidden;
	width:160px;
	height:90px;
	border-radius:7px;
	border:1px solid var(--ah-hover-bg)
}
@media screen and (max-width:768px) {
	.article-sort-item-img {
	width:80px;
	height:80px
}
}.article-sort-item-img img {
	width:100%;
	height:100%;
	object-fit:cover;
	border-radius:7px
}
.article-sort-item-info {
	-webkit-box-flex:1;
	-moz-box-flex:1;
	-o-box-flex:1;
	box-flex:1;
	-webkit-flex:1;
	-ms-flex:1;
	flex:1;
	padding-left:10px
}
.article-sort-item-info a.article-meta__tags {
	color:var(--dark-grey);
	font-size:15px
}
.article-sort-item-info a.article-meta__tags:hover {
	color:var(--btn-hover-color)
}
.article-sort-item-info time.post-meta-date-created {
	bottom:10px;
	right:10px;
	position:absolute;
	font-size:14px;
	line-height:14px;
	color:var(--dark-grey)
}
.far.fa-calendar-alt{
  display: none;
}
.blog-slider__img{
  width: 300px!important;
}
#share-post i.fa.fa-share-alt{
  font-size: 25px;
  color: rgba(20, 198, 211, 0.9);
  padding-left:8px
}
#share-post i.fa.fa-share-alt:hover{
  color: rgb(240, 173, 210,0.9);
}
#cf-container{width:100%;max-width:100%!important;height:auto;margin:auto;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:space-between}
.cf-article{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.cf-article{
  margin: 8px 0!important;
  border-radius: 8px!important;
  font-weight: bolder!important;
  overflow: hidden!important;
  position: relative!important;
  padding: .8rem!important;
  padding-bottom: .4rem!important;
  width: calc(48.8% - 0px)!important;
}
@media screen and (max-width:768px){.cf-article{width:100%!important;padding:0!important}}
.cf-article-floor{
  position: absolute!important;
  top: 0!important;
  right: .5rem!important;
  font-style: italic!important;
  font-size: 2.6rem!important;
  line-height: 2rem!important;
  z-index: 1!important;
  font-weight: 400!important;
}
.cf-article-title{
  max-width: 90%!important;
  font-weight: 500!important;
  letter-spacing: 1.2px!important;
}
[data-theme="light"]
#cf-more i.fas::before{
  color:#043749!important;
}
/* waline样式调整 */
.v[data-class=v] .vcard .vhead .vnick{
  font-size: revert!important;
}
.v[data-class=v] .vcard{
  margin-top: auto!important;
}
.v[data-class=v] a{
  max-width: -webkit-fill-available!important;
}
.v[data-class=v] p{
  font-weight: 600!important;
  font-size: 0.9rem!important;
}
#article-container img{
  border-radius: 11px!important;
}

div#post-comment.fixedcomment {
  position: fixed;
  top: 0;
  width: 60%;
  right: 0;
  padding: 25px 30px 20px 20px;
  height: 100vh;
  overflow: scroll;
  z-index: 90;
  background:rgba(152, 203, 209, 0.92);
  animation: fixedright 0.2s linear;
}
div#post-comment.fixedcomment::-webkit-scrollbar {
width: 0;
}
div#quit-board{
display: none;
}
div#quit-board.fixedcomment {
position: fixed;
display:block!important;
left: 0;
top: 0;
width: 40%;
height: 100vh;
z-index: 89!important;
background: rgba(10, 10, 10, 0.15);
animation: fixedleft 0.2s linear;
}
/*手机端样式适配*/
@media screen and (max-width: 768px) {
div#post-comment.fixedcomment {
  background: rgba(152, 203, 209, 0.92);
  width: 92%;
  right: 0;
}
div#quit-board.fixedcomment {
  width: 8%;
}
}
/*动画效果*/
@keyframes fixedright {
from {right:-50%;}
to {right:0;}
}
@keyframes fixedleft {
from {left:-50%;}
to {left:0;}
}
/* 夜间模式匹配 */
[data-theme="dark"]
div#post-comment.fixedcomment {
    background: rgba(10, 10, 10, 0.92);
}
[data-theme="dark"]
div#quit-board.fixedcomment {
  background: rgba(0, 0, 0, 0.15);
}

#statistic {
  font-size: 18px;
  padding: 20px;
  border-radius: 15px;
  width: 75%;
  margin : 0 auto;/* 让元素居中 */
  color: var(--font-color);
  border: 2px solid #03a9f4;
}

#statistic div {
  display: flex;
  justify-content: space-between;
}

#statistic div span:last-child {
  font-weight: bold;
}
#article-container p.fwtj{
  text-align:center!important;
  font-weight: 600!important;
  font-size: 18px;
  line-height:0.3em!important;
}